.dashboard-container {
background-color: #0f2537
border-radius: 15px;
}

/*.left-container {
background-color: #483d8b;
}*/

.right-container {
background-color: #e8e4d6;
}

/*body {
background-color: white;
}*/

/* input box */
.Select-control {
    background-color: #4e5d6c;
}

/* changes the text color of input box */
.Select-value-label {
    color: #e8e4d6 !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px #e8e4d6;
    border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
    background-color: #4e5d6c;
    color: #e8e4d6;
 }


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
    background-color: #4e5d6c;
    opacity: .7;
}


/* border on focus - default is blue
 * shadow box around input box.  default is blue
 */
.is-focused:not(.is-open) > .Select-control {
  border-color: var(--primary);
  box-shadow: none;
}


/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
  color: #e8e4d6;
}






h1 {
color: #0f2537;
}

/*
h2 {
margin-bottom: 0px;
margin-top: 10px;
font-family: 'Poppins';
font-size: 14px;
color: #ffffff;
}

h3 {
    font-size: 16px;
    line-height: 34px;
    padding-left: 7px;
    font-family: "Poppins";
    color: var(--bs-info);
}*/

p {
color: #0f2537;
}

label {
color: #e8e4d6;
}

.stats-label {
color: #0f2537;
}

.attributes-label {
color: #0f2537;
}

/* Radio-buttons */

.home-button {
background-color: transparent;
border: 1px solid transparent;
}

.home-button:hover {
background-color: transparent;
border: 1px solid transparent;
}

.home-button:active {
background-color: transparent !important;
border: 1px solid transparent !important;
}

.modal_conditions_button {
background-color: #e2777d;
border-radius: 5px;
color: #F9F5EC;
}

.modal_conditions_button:hover {
background-color: #CD5B45;
}

.close-instructions-button {
background-color: #e2777d;
border-radius: 5px;
color: #F9F5EC;
}

.close-instructions-button:hover {
background-color: #e25e86;
}

.container-button {
border-radius: 5px;
color: #F9F5EC;
background-color: #e2777d;
}

.container-button:hover {
background-color: #CD5B45;
}

/*.form-check {
    width: 100%;
    height: 38px;
    margin: 1px;
    padding-left: 0;
}

.btn.btn-outline-light,
.btn.btn-light {
    width: 100%;
    height: 100%;
    padding: 6px;
    font-family: "Poppins";
    border-radius: 3px;
}

.btn.btn-outline-light {
    border: 1px solid transparent;
}

.btn.btn-outline-light:hover {
    color: #010103;
    background-color: color-mix(in srgb, var(--bs-light), #010103 7%);
}*/

/* Single button */

/*.btn.btn-info {
    width: 100%;
    height: 38px;
    margin: 1px;
    padding: 6px;
    font-family: "Poppins";
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn.btn-info:active,
.btn.btn-info:focus {
    background-color: var(--bs-info);
}

.btn.btn-info:hover {
    background-color: color-mix(in srgb, var(--bs-info), #010103 7%);
}*/


/* Dropdowns */


/*.customDropdown {
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 1px;
}

.customDropdown .Select-control {
    width: 100%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #676768;
    border-radius: 3px;
    color: var(--bs-info) !important;
}

.customDropdown .Select-value-label,
.customDropdown .Select-placeholder {
    color: var(--bs-info) !important;
}

.customDropdown .Select-arrow {
    border-color: #cccccc transparent transparent;
}

.customDropdown.is-open .Select-arrow {
    border-color: transparent transparent #cccccc;
}

.customDropdown .Select-clear {
    color: var(--bs-info);
    font-size: 22px;
}

.customDropdown.is-focused:not(.is-open) > .Select-control {
    border: 2px solid color-mix(in srgb, var(--bs-info), #010103 50%) !important;
}

.customDropdown.is-focused:not(.is-open) .Select-arrow {
    border-color: var(--bs-info) transparent transparent;
}

.customDropdown .Select-menu-outer {
    margin-top: 5px;
    border-radius: 3px;
    background-color: #010103;
    border: 1px solid #676768;
    color: var(--bs-light);
}

.customDropdown .VirtualizedSelectFocusedOption {
    background-color: color-mix(in srgb, var(--bs-light), #010103 7%);
    border-radius: 3px;
    color: #010103;
}*/



.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
